@dark-pp: #000;
@dark-pp_20: fade(@dark-pp, 20%);
@dark-p: #202225;
@dark: #2c3138;

@neutral: #68727f;
@neutral_80: fade(@neutral, 80%);
@neutral_60: fade(@neutral, 60%);
@neutral_40: fade(@neutral, 40%);

@light: #fff;
@light_90: fade(@light, 90%);
@light_80: fade(@light, 80%);
@light_60: fade(@light, 60%);
@light_20: fade(@light, 20%);
@light_10: fade(@light, 10%);

@error-color: #c2342f;
@success-color: #55a433;

@material-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
@material-shadow-small: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);

// DO NOT USE ANYMORE
@background-color: #252a2f;
@inactive-color: #28323c;

@onboarding-background-color: #2c3e4f;

@hover-color: rgb(220, 220, 220);
@pre-hover-color: rgb(250, 250, 250);

@code-background-color: #202025;
@separator-color: #7f8c8d;
@secondary-separator-color: #4d5156;

@text-color: #fff;
@secondary-text-color: #bdc3c7;

@light-secondary-text-color: #ecf0f1;

@notification-color: #d0021b;

@contrast-color: #ff6f31;
@link-color: #34495c;
@bright-link-color: #2781b5;

@light-background: rgb(200, 200, 200);

@complementary-color: #00b29b;

@useful-color: #55a433;
@useful-secondary-color: #fff;
@notuseful-color: #ff5722;
@notuseful-secondary-color: #fff;

// Tetris coors
@failed-right-color: #2781b5;
@failed-left-color: #009e84;
@code-block-color: #34495c;
@tetris-button-left-color: #314353;
@tetris-button-right-color: #34495c;

@beginner-color: rgb(61, 233, 63);
@basic-color: rgb(252, 222, 62);
@medium-color: #ff6f31;
@advanced-color: #d0021b;

@live-color: rgb(61, 233, 63);
@review-color: rgb(252, 222, 62);
@draft-color: #ccc;
@more-contrasted-background: #000;

@inline-code-color: @contrast-color;

@transition-screen-color: #4a90e2;

@link-color100: @link-color;
@link-color85: #314353;
@link-color70: #2e3d4a;
@link-color55: #2b3741;
@link-color40: #283138;
