@import "./colors.less";

.insight {
  height: 100%;
  line-height: 24px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  background: @background-color;
  color: @secondary-text-color;

  .insight-inner-scroll {
    padding: 0 20px 92px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar { width: 0 !important }
  }

  & * {
    user-select: all;

    &::selection {
      background: @contrast-color;
      color: @text-color;
    }
  }

  .insight-category {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 15px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  .headline {
    font-size: 21px;
    margin: 15px 0 15px;
    line-height: 24px;
    font-weight: 300;
    color: @light-secondary-text-color;
    text-align: center;
    p {
      margin: 0;
    }
    &.link {
      text-decoration: none;
      display: block;
    }
  }

  pre {
    margin: 0 -20px;
    padding: 5px;
    background-color: @code-background-color;
    overflow: hidden;
  }

  code {
    background: @code-background-color;
    padding: 0px 1px 1px 1px;
    font-family: 'Roboto Mono', monospace;

    & > div {
      display: inline-block;
    }

    .width-29-cols {
      padding-left: 14px;
      font-size: 130%;
    }

    .width-34-cols {
      padding-left: 14px;
      font-size: 115%;
    }

    .width-39-cols {
      padding-left: 14px;
    }

    .width-44-cols {
      // no padding on iphone 4 or 5
      // see media query for iPhone 6
    }

  }

  .headline code {
    background: transparent;
    padding: 0px;
    color: inherit;
  }

  .insight-footnotes {
    ol {
      padding-left: 20px;
    }
  }

  pre code {
    font-size: 73%;
    padding: 0;
    background: @code-background-color;
  }

  p > code {
    color: @inline-code-color;
  }

  li > code {
    color: @inline-code-color;
  }


  .list-section {
    background: @code-background-color;
    margin: 15px -20px;
    padding-left: 20px;
  }

  .learnmore-link {
    margin-bottom: 5px;
    position: relative;
    min-height: 24px;
    .link-type {
      position: absolute;
      display: inline-block;
      color: @secondary-text-color;
      .link-type-icon {
        color: @text-color;
        width:30px;
        height: 30px;
        font-size: 150%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        display: inline-block;
      }
    }
    .link-name {
      position: absolute;
      display: inline-block;
      left: 40px;
      width: ~'calc(100% - 40px)';
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: @text-color;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-device-width: 375px)  {
  .width-44-cols {
    padding-left: 14px;
  }
}
